Packages/*
Packages/*/
!Packages/User/
!Packages/Package Control
Installed\ Packages
Pristine\ Packages
Backup
Settings/*.sublime_session
*.pyc
*.cache
Packages/User/Package Control.last-run

.DS_Store
